/*
*/
/* 
    Created on : 06-août-2019, 16:22:26
    Author     : µ
*/
p{
    color: lightskyblue;
    font: sans-serif;
}
h2{
    /*  background-color: red;
      color: black; */
     
    background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 51%, rgba(193,158,103,1) 75%, rgba(233,212,179,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,226,199,1)), color-stop(51%, rgba(182,141,76,1)), color-stop(75%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
    background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 51%, rgba(193,158,103,1) 75%, rgba(233,212,179,1) 100%);
    background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 51%, rgba(193,158,103,1) 75%, rgba(233,212,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 51%, rgba(193,158,103,1) 75%, rgba(233,212,179,1) 100%);
    background: linear-gradient(to bottom, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 51%, rgba(193,158,103,1) 75%, rgba(233,212,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=0 );

    padding: 10px 0 20px 30px; 
} 
img{
    border-style: solid;
    border-color: black;
    border-width: 15px;

}
body{
    background-color: lightgoldenrodyellow;
    /* background-image: url("");
         background-repeat: no-repeat;
         background-size: cover;
    */
}
